/* * The transperant background */
.xterm-viewport {
   background-image: url("/Users/danny/Pictures/Background/Pi.png"); /* * Change the path background here */
   background-repeat: no-repeat;
   background-position: 45%;
   background-size: auto 100vh;
   filter: opacity(50%);
   opacity: 0.2;
   z-index: 1;
}
